{% extends "base.html" %}
{% block title %} My Tasks {% endblock title %}

{% block content %}
        <div>
            <h1>My Tasks</h1>
            <table>
                <thead>
                   <tr>
                      <th>Name</th>
                      <th>Start date</th>
                      <th>Due date</th>
                      <th>Is completed</th>
                   </tr>
                </thead>
                <tbody>
                    {% for task in task_list %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                        </tr>
                </tbody>
            {% empty %}
                <p>You have no tasks</p>
            {% endfor %}
            </table>

        </div>
{% endblock content %}
